<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/style.css" />
    <title>Task Manager | Manage Your Task</title>
  </head>
  <body>
    <div class="wrapper">
      <h3 class="heading">Your Task</h3>
      <form action="" class="form--task">
        <div class="row">
          <input
            type="text"
            name="email"
            id="email"
            placeholder="Create new task"
            required
          />
        </div>

        <button class="btn btn--addTask" type="submit">Add</button>
      </form>
      <!-- <div class="task">
        <div id="taskId">This is a task</div>
      </div> -->
    </div>
  </body>
</html>
