<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style].css" />
    <title>Task Manager | Sign Up</title>
  </head>
  <body>
    <div class="wrapper">
      <h3 class="heading">Create Account</h3>
      <form action="" class="form--login">
        <div class="row">
          <label for="name">Name</label>
          <input
            type="text"
            name="name"
            id="name"
            placeholder="Type your name"
            required
          />
        </div>
        <div class="row">
          <label for="email">Email</label>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Type your email"
            required
          />
        </div>
        <div class="row">
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Type your password"
            required
          />
        </div>
        <div class="row">
          <label for="passwordConfirm">Confirm Password</label>
          <input
            type="password"
            name="passwordConfirm"
            id="passwordConfirm"
            placeholder="Confirm your password"
            required
          />
        </div>
        <button class="btn btn--login" type="submit">Sign up</button>
      </form>
      <span class="login-text"
        >Already have an account? <a href="#" class="link">Login now</a></span
      >
    </div>
  </body>
</html>
