doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./css/style.css")
    title Quiz App | Results
  body
    .container
      h2.heading-primary Quiz Application
      .result
        div
          p username:
          p masudrana
        div
          p Total quiz points:
          p 50
        div
          p Total questions:
          p 10
        div
          p Correct:
          p 06
        div
          p Wrong:
          p 04
        div
          p Total earn points:
          p 30
        div
          p Quiz results:
          p passed
      button.btn restart

      table.table
        thead
          tr
            th Name
            th Attemps
            th Earn Points
            th Results
        tbody
          tr
            td masudrana
            td 06
            td 10
            td passed
          tr
            td masudrana
            td 06
            td 10
            td passed
